@import "tailwindcss";
@theme inline {
  --color-primary: 220 38 127; /* Deep purple */
  --color-secondary: 30 30 46; /* Dark gray-blue */
  --color-accent: 255 193 7; /* Golden yellow */
  --color-success: 34 197 94;
}
* {
  font-family: "roboto", sans-serif;
}
.bg-gradient {
  background-color: transparent;
  background-image: linear-gradient(180deg, #e7d63d 0%, #f2295b 100%);
}
.bg-gradient2 {
  background-color: transparent;
  background-image: linear-gradient(180deg, #EAEB97 0%, #f2295b 100%);
}
.bg-gradientmidyellow {
  background-color: transparent;
  background-image: radial-gradient(at top center, #e7d63d 51%, #ee4a73 100%);
}
.bg-gradientmidyellow3 {
  background-color: transparent;
  background-image: radial-gradient(at bottom center, #e7d63d 25%, #ee4a73 90%);
}
.bg-gradientmidyellow4 {
  background-color: transparent;
  background-image: radial-gradient(at top center, #EAEB97  0%, #f2295b 100%);
}
.bg-gradientredblack {
  background-color: transparent;
  background-image: linear-gradient(180deg, #000 0%, #f2295b 100%);
}
.bg-gradientredblack2 {
  background-color: transparent;
  background-image: radial-gradient(at center center, #1d1717 55%, #f2295b 77%);
}
